body{
    height: 100vh;
    background-color: lightgray;
}
.container{
    width: 280px;
    height: 550px;
    margin: auto;
    background-color: #222129;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 64px;
}
.number-display{
    height: 30%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    font-size: 48px;
    margin-top: 8px;
}

.button-container{
    height: 60%;
}

.button-row{
    display: flex;
    align-items: center;
    padding: 8px;
    gap:8px;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:#9c58f5;
    border: none;
    color:white;
    font-size: 22px;
}

#btn-0{
    width: 128px;
    border-radius: 25px;
}

.highlight-btn{
    background-color:white;
    border: none;
    color:#9c58f5;
}